<h1>Seja Bem Vindo!</h1>

<p> Idioma Selecionado é: <strong><%= locale(I18n.locale) %> </strong></p>

<p> Data: <%= Date.today %>

<%= render "menu" %>

<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>
<p>
    Eu sou uma variavel de instância/sessão: <strong> <%= @nome %> </strong>
</p>